body {
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Noto Serif', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* banner section start */
.container {
  display: flex;
  background: rgba(229, 84, 115, 0.1);
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.banner-img {
  height: 600px;
  width: 500px;
}

.banner-title{
  font-size: 40px;
  margin-bottom: 20px;
}

.banner-content{
  margin-bottom: 20px;
}

button{
  display: inline-flex;
padding: 10px 23px;
border:none;
color:white;
border-radius: 8px;
background: #E55473;
}

/* banner section end */

/* follower start here */
.flower{
  display:flex;
width: 1220px;
height: 2867px;
margin-left:130px;

}
.flower-1{
 
  margin:50px 0;
}

  .flower-1 h3{
   color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
  }

.flower-1 p{
  color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}  

.flower-2, .flower-3, .flower-4{
width: 350px;
height: 450px;
flex-shrink: 0;
margin-right:20px;
border-radius: 200px 200px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}

.flower-3{
  background: rgba(5, 151, 160, 0.15);
}

.flower-4{
  background: rgba(71, 125, 17, 0.15);
}

.flower-2 img, .flower-3 img, .flower-4 img{
 width: 210px;
height: 328px;
margin-left:80px;
margin-top:40px; 
}


.flower-2 p, 
.flower-3 p, 
.flower-4 p{
color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}


/* follower start here */
